<h1 class="page-header"> Diagrama ER</h1>

  <div class="panel panel-info">
      <div class="panel-body">
        <embed type="application/pdf" src="/diagram.pdf" width="100%" height="600px" >
      </div>

  </div>
